* {
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: var(--text-color);

}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    /* cor da borda dos links no fundo escuro*/
    --stroke-color: rgba(255, 255, 255, 0.5);
    /* superfície dos links no fundo escuro */
    --surface-color: rgba(255, 255, 255, 0.05);
    /* superfície dos links no fundo escuro ao passar o mouse*/
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    /* faz um realce nos ícones das redes socias */
    --realce-color: rgba(255, 255, 255, 0.2);
    /* bg do switch com fundo preto */
    --switch-bg-url: url(./assets/moon-stars.svg);
}
.claro {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    /* cor da borda dos links no fundo claro*/
    --stroke-color: rgba(0, 0, 0, 0.5);
    /* superfície dos links no fundo claro */
    --surface-color: rgba(0, 0, 0, 0.05);
    /* superfície dos links no fundo claro ao passar o mouse*/
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    /* faz um realce nos ícones das redes socias */
    --realce-color: rgba(0, 0, 0, 0.1);
    /* bg do switch com branco */
    --switch-bg-url: url(./assets/sun.svg)
}


body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

.container{
    width: 360px;
    height: 712px;
    border: 1px solid red;
    margin: 50px auto 0px;
    text-align: center;
}

.profile img {
    width: 112px;
}
.profile p {
    font-weight: 500;
    line-height: 24px;   
}

.container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.container ul li a {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border: 1px solid var(--stroke-color);
    align-items: center; /* alinha em relação a vertical */
    justify-content: center; /* alinha em relação a horizontal */
    padding: 16px 24px; /* 16px top e bottom 24px right e left */ 
    background: rgba(255, 255, 255, 0.1);
    background: var(--surface-color);
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
    transition: background 0.2s;
}

.container ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    background: var(--surface-color-hover);
    border: 1px solid white;
}

.social-links{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a{
    transition: background 2s;
    padding: 25px;
    border-radius: 100px;
    margin: 0 2px;
}

.social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    background: var(--realce-color);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

.switch{
    border: 1px solid black;
    position: relative;
    width: 64px;
    margin: 4px auto;

}
.switch button{
    border: 1px solid red;
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border-radius: 50%;
    position: absolute; /* possicionado em relação a div switch */
    top: 50%;
    left: 0;
    z-index: 1; /* camada 1, outros elementos estão na camada 0 */
    transform: translateY(-50%); /* transform ele é um descolcamento do elemento, 
    Y desce no eixo vertical, então tem que ser negativo 
    para ele subir */ 

}

.switch span {
    border: 1px solid var(--stroke-color);
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border-radius: 9999px;
}

.claro .switch button {
    right: 0;
    left: initial;
}
