* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: var(--text-color);
    
}

:root {
    --bg-url: url(/assets/bg.jpg);
    --text-color: black;
    --icon-color: black;
    --border-color: black;
    --bg-border-color: rgb(223, 219, 219);
    --switch-bg-theme: url(/assets/sunny-outline.svg);

}

.dark {
    --bg-url: url(/assets/bg_dark.jpg);
    --text-color: white;
    --icon-color: white;
    --border-color: white;
    --bg-border-color: rgb(80, 75, 75);
    --switch-bg-theme: url(/assets/moon-sharp.svg);
}

.container, .container_dois, footer {
    text-align: center;
    margin: 50px auto 0 auto;
    width: 500px;
}

.img_trote {
    width: 35%;
}

.switch {
    border: 2px solid rgb(0, 0, 0);;
    position: relative;
    width: 64px;
    margin: 4px auto 10px auto;
}

button {
    border: 1px solid red;
    width: 32px;
    height: 32px;
    padding: 1px;
    background: white var(--switch-bg-theme)  no-repeat center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.span {
    border: 1px solid green;
    display: block;
    width: 64px;
    height: 24px;
    border-radius: 99999px;

}

.dark button {
    right: -2px;
    left: initial;
}

ul {
    width: 200px;
    margin: 0 auto;
}

.lista {
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background: var(--bg-border-color);
    transition: 0.25s;
}

.lista:hover {
    opacity: 0.4;
    cursor: pointer;
}

.ancoras_list, .ancoras_list_um {
    text-decoration: none;
    margin: 40px 0 0 0;
    font-size: 18px;
    color: var(--text-color);
}

.icons {
    font-size: 30px;
    color: var(--icon-color);
    padding: 3px;
    transition: 0.25s;
}

.icons:hover {
    border: 2px solid gray;
    background-color: var(--bg-border-color);
    border-radius: 999px;
}

.autoria {
    font-size: 19px;
}
