* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bg) no-repeat;
    background-size: cover;
}

:root {
    --text-color: black;
    --bg: url(/trote/assets/fundo-azul.jpg);
    --bg-button: rgb(184, 194, 203);
    --bg-button-border: black;
    --switch-bg-theme: url(/trote/assets/sol.png);
    --bg-switch: rgb(184, 194, 203);
    --text-color-inferior: rgb(5, 50, 69);
    --table-border-color: rgb(5, 50, 69);
}

.dark {
    --text-color: white;
    --bg: url(/trote/assets/fundo-preto.jpg);
    --bg-button: rgb(101, 114, 112);
    --bg-button-border: white;
    --switch-bg-theme: url(/trote/assets/lua-crescente.png);
    --bg-switch: rgb(101, 114, 112);
    --text-color-inferior: rgb(151, 151, 151);
    --table-border-color: rgb(151, 151, 151);
}
.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.switch {
    position: relative;
    width: 64px;
    margin: 0 auto;
}

.botao{
    margin: 6px 0;
    width: 60px;
    height: 20px;
    border: 1px solid black;
    background: var(--bg-switch) var(--switch-bg-theme) no-repeat center;
    border-radius: 10px;
    background-size: 27%;
    transition: 0.2s;
    display: inline-block;
}

.botao_home {
    margin: 6px 0;
    width: 60px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-size: 27%;
    transition: 0.2s;
    background: var(--bg-switch);
    font-weight: bold;
}

.botao:hover, .botao_home {
    cursor: pointer;
    opacity: 0.77;
}

.logo {
    width: 25%;
    margin-top: 20px;
}

.sessao_um {
    display: flex;
    align-items: center;
}

.sessao_um a {
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

.lista {
    padding: 10px;
    border: 1px solid var(--bg-button-border);
    border-radius: 20px;
    margin: 10px;
    display: block;
    width: 130px;
    background: var(--bg-button);
    transition: 0.2s;
}

.lista:hover {
    cursor: pointer;
    opacity: 0.5;
}

.social-links {
    color: var(--text-color-inferior);
    padding: 5px;
    border-radius: 100px;
    font-size: 20px;
    transition: 0.2s;
    margin-top: 100px;
    margin-bottom: 5px;
}

.social-links:hover {
    opacity: 0.5;
}

.grupo {
    color: var(--text-color-inferior);
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    
}

.equipes {
    margin: 20px auto;
    background: var(--bg-button);
}

.equipes th, td, tr {
    width: 200px;
    height: 40px;
    padding: 6px;
    margin-top: 20px;
    border: 1px solid var(--table-border-color);
    color: black;
}

#red {
    background-color: rgb(255, 0, 0);
}

#orange {
    background-color: rgb(255, 166, 0);
}

#yellow {
    background-color: rgb(243, 219, 39);
}

#green {
    background-color: rgb(48, 153, 10);
}

#purple {
    background-color: rgba(113, 2, 123, 0.814);
}

.calc p {
    font-size: 20px;
    margin-top: 30px;
}

#kits {
    width: 120px;
    height: 25px;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 15px;
    color: rgb(0, 0, 0);
}

.calc button {
    display: block;
    margin: 15px auto;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: var(--bg-button);
}